</body>

<footer>
    <p id="footerPStyle"> 
        <% var today = new Date(); var yyyy = today.getFullYear(); %>
        <%= yyyy %> - © SmileyDoodle </p>
</footer>

</html>



<!-- Another way to get the year -->
<!-- <span id="year"></span> - © SmileyDoodle </p>
        <script type="text/javascript">
        const today = new Date();
        document.querySelector('#year').innerHTML = today.getFullYear();
</script> -->